<nav>
  <a md-icon-button routerLink="/clients" routerLinkActive="active">Clients</a>
  <a md-icon-button routerLink="/bookings" routerLinkActive="active">Bookings</a>
  <!-- <a routerLink="/clients" routerLinkActive="active">Clients</a>
  <a routerLink="/bookings" routerLinkActive="active">Bookings</a> -->
</nav>
